.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap {
  margin-top: 30px;
  align-items: center;
}
.wrap > h1 {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.TodoList {
  width: 90%;
  display: flex;
}
.TodoItem {
  width: 150px;
  height: 170px;
  border: 1px solid blue;
  border-radius: 10px;
  margin-right: 20px;
  text-align: center;
}
